In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
# Create engine using the `spacex.sqlite` database file
engine = create_engine("sqlite:///tornadoes_clean.sqlite")

In [3]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

tornadoes
-----------
id BIGINT
tornado_id BIGINT
yr BIGINT
month BIGINT
date TEXT
state TEXT
category FLOAT
injuries BIGINT
fatalities BIGINT
loss FLOAT
start_lat FLOAT
start_longitude FLOAT
end_latitude FLOAT
end_longitude FLOAT
distance_traveled FLOAT
width BIGINT
seasons TEXT

In [4]:
# user inputs
user_year = 2022
where_clause = f"yr = {user_year}"

# switch on user_year
if user_year != 'All':
    where_clause = f"yr = {user_year}"
else:
    where_clause = f"yr > 2000"

# build the query
query = f"""
    SELECT
        yr,
        month,
        date,
        state,
        category,
        injuries,
        fatalities,
        loss,
        start_lat,
        start_longitude,
        end_latitude,
        end_longitude,
        distance_traveled,
        width,
        seasons
    FROM
        tornadoes
    WHERE
        {where_clause}
    ORDER BY
        date DESC;
"""

# execute query
df = pd.read_sql(text(query), con=engine.connect())
df.head()

,yr,month,date,state,category,injuries,fatalities,loss,start_lat,start_longitude,end_latitude,end_longitude,distance_traveled,width,seasons
0,2022,12,2022-12-30,MS,1.0,0,0,52000.0,31.3800,-90.5500,31.3900,-90.4100,8.29,100,winter
1,2022,12,2022-12-29,TX,1.0,0,0,15000.0,30.5840,-94.2611,30.5900,-94.2600,0.42,75,winter
2,2022,12,2022-12-15,GA,2.0,0,0,1000000.0,31.3039,-83.9463,31.3290,-83.9309,1.96,280,winter
3,2022,12,2022-12-15,LA,1.0,0,0,20000.0,30.1120,-91.6390,30.1130,-91.6380,0.09,50,winter
4,2022,12,2022-12-15,FL,1.0,0,0,100000.0,28.4310,-82.4729,28.4681,-82.3088,10.30,100,winter

In [6]:
# user inputs
user_year = "All"
where_clause = f"yr = {user_year}"

# switch on user_year
if user_year != 'All':
    where_clause = f"yr = {user_year}"
else:
    where_clause = f"yr > 2000"

# build the query
query = f"""
    SELECT
        yr,
        state,
        category,
        loss,
        start_lat,
        start_longitude,
        end_latitude,
        end_longitude,
        distance_traveled,
        width
    FROM
        tornadoes
    WHERE
        {where_clause}
    ORDER BY
        date DESC;
"""

# execute query
df = pd.read_sql(text(query), con=engine.connect())
df.head(50)

,yr,state,category,loss,start_lat,start_longitude,end_latitude,end_longitude,distance_traveled,width
0,2022,MS,1.0,52000.0,31.3800,-90.5500,31.3900,-90.4100,8.29,100
1,2022,TX,1.0,15000.0,30.5840,-94.2611,30.5900,-94.2600,0.42,75
2,2022,GA,2.0,1000000.0,31.3039,-83.9463,31.3290,-83.9309,1.96,280
3,2022,LA,1.0,20000.0,30.1120,-91.6390,30.1130,-91.6380,0.09,50
4,2022,FL,1.0,100000.0,28.4310,-82.4729,28.4681,-82.3088,10.30,100
5,2022,FL,1.0,500000.0,27.7744,-82.7345,27.7820,-82.7050,1.88,100
6,2022,FL,0.0,0.0,27.0700,-82.2200,27.0724,-82.2132,0.14,100
7,2022,MS,0.0,0.0,33.1200,-90.1900,33.1900,-90.1400,5.91,100
8,2022,MS,0.0,0.0,32.0800,-90.3200,32.0900,-90.3100,0.80,70
9,2022,LA,0.0,0.0,30.7663,-92.2172,30.7663,-92.2172,0.01,1
10,2022,LA,2.0,500000.0,29.9533,-91.8382,30.0009,-91.7708,5.20,300
11,2022,LA,0.0,0.0,29.9523,-91.8281,29.9550,-91.8267,0.20,10
12,2022,LA,1.0,5000.0,30.5782,-90.3747,30.6225,-90.3251,4.25,50
13,2022,LA,2.0,250000.0,29.9916,-90.4992,30.0342,-90.4375,4.72,75
14,2022,LA,0.0,100000.0,29.5651,-90.7226,29.5823,-90.7041,1.63,50
15,2022,AL,1.0,0.0,32.3698,-88.2732,32.4133,-88.2201,4.40,225
16,2022,LA,2.0,150000000.0,29.8773,-90.1239,29.9668,-89.9804,10.59,200
17,2022,MS,0.0,5000.0,30.7250,-89.3626,30.7380,-89.3502,1.16,50
18,2022,AL,2.0,0.0,31.6800,-88.2140,31.7201,-88.1820,3.36,140
19,2022,AL,2.0,0.0,31.7296,-88.1707,31.7489,-88.1505,1.79,120
20,2022,MS,1.0,0.0,30.3908,-88.9702,30.4163,-88.9451,2.31,100
21,2022,FL,0.0,0.0,30.0700,-84.9200,30.1200,-84.9050,3.57,25
22,2022,FL,0.0,0.0,29.9233,-84.7343,29.9281,-84.7338,0.33,210
23,2022,FL,1.0,50000.0,30.0530,-84.5480,30.1140,-84.4840,5.69,75
24,2022,FL,0.0,0.0,30.6780,-86.0290,30.7000,-86.0200,1.61,25
25,2022,FL,0.0,0.0,30.2740,-84.3480,30.2920,-84.3340,1.50,25
26,2022,OK,0.0,0.0,35.1580,-99.9100,35.1580,-99.9100,0.20,40
27,2022,OK,1.0,3000.0,34.5230,-97.9730,34.5250,-97.9680,0.32,50
28,2022,OK,2.0,75000.0,34.7410,-97.7460,34.7430,-97.7360,0.60,50
29,2022,OK,2.0,80000.0,34.9100,-97.3180,34.9690,-97.2710,4.90,300
30,2022,TX,2.0,0.0,32.2965,-98.6678,32.3764,-98.5030,11.13,355
31,2022,OK,0.0,5000.0,34.9380,-97.1160,34.9440,-97.1100,0.60,30
32,2022,OK,1.0,5000.0,34.5110,-97.3400,34.5530,-97.2870,4.20,100
33,2022,TX,0.0,0.0,32.8785,-98.0565,32.8848,-98.0397,1.07,50
34,2022,TX,1.0,0.0,32.5735,-98.1380,32.6076,-98.0891,3.70,230
35,2022,TX,2.0,0.0,33.1195,-97.6563,33.2154,-97.5338,9.71,370
36,2022,TX,0.0,0.0,32.7259,-97.8788,32.7289,-97.8672,0.71,50
37,2022,TX,1.0,0.0,32.3331,-98.0242,32.3359,-98.0134,0.66,44
38,2022,TX,0.0,30000.0,33.7232,-97.0697,33.7265,-97.0631,0.44,150
39,2022,TX,0.0,50000.0,32.7693,-97.4337,32.7778,-97.4245,0.81,25
40,2022,TX,1.0,1000.0,32.7945,-97.4096,32.7970,-97.4085,0.18,40
41,2022,TX,0.0,1000.0,32.8294,-97.3387,32.8316,-97.3334,0.34,25
42,2022,TX,1.0,0.0,32.8863,-97.2055,32.9041,-97.1819,1.85,40
43,2022,TX,1.0,0.0,32.9282,-97.1016,32.9587,-97.0628,3.11,150
44,2022,TX,1.0,0.0,32.9650,-97.0440,32.9747,-97.0381,0.75,100
45,2022,TX,2.0,0.0,33.2981,-96.4287,33.4412,-96.1858,17.61,225
46,2022,TX,1.0,0.0,33.3566,-96.1333,33.4217,-96.0528,6.60,50
47,2022,TX,2.0,0.0,33.6144,-95.8268,33.6895,-95.6763,10.21,200
48,2022,TX,2.0,85000.0,32.3323,-94.2154,32.4211,-94.0992,9.15,460
49,2022,LA,2.0,500000.0,32.2210,-94.0102,32.2569,-93.9690,3.46,700

In [ ]:
# user inputs
user_seasons = "All"

# build the query
if user_seasons != 'All':
    where_clause = "seasons = :user_seasons"
else:
    where_clause = "1 = 1"  # This will always be true and effectively ignore the WHERE clause

query = f"""
    SELECT
        yr,
        month,
        state,
        category,
        injuries,
        fatalities,
        seasons
    FROM
        tornadoes
    WHERE
        {where_clause}
    ORDER BY
        date DESC;
"""

# execute query
with engine.connect() as connection:
    df_seasons = pd.read_sql(query, connection, params={'user_seasons': user_seasons} if user_seasons != 'All' else {})
    print(df_seasons.tail())